/* $siteWidth: 1366px;*/
html {
  background-image: url("images/background.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
}

*:focus {outline: none;}

::-webkit-input-placeholder {
    color: rgba(77, 57, 35, 0.52);
}

.pageHeader {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: 0;
  margin: 2em 0 1em 0;
  padding: 0.8em 0 0.8em 0;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 50px;
  font-family: 'Averia Sans Libre', cursive;
  text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 2px;
  word-spacing: 4px;
  background: rgba(153, 159, 163, 0.2);
  color: rgba(0,0,0,1);
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) ;
  text-shadow: 0 0 2px rgba(255,255,255, 0.5) ;
}



.loginform ul{

  background: rgba(177, 177, 177, 0.67);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  list-style-type:none;
  list-style-position:outside;
  width: 18em;
  height: auto;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px 6px rgba(0,0,0,0.4) ;
  -moz-box-shadow: 4px 4px 6px 6px rgba(0,0,0,0.4) ;
  box-shadow: 4px 4px 6px 6px rgba(0,0,0,0.4) ;

}


li:first-child{
  margin-left: -30px;
  padding-top: 8px;
  text-align: center;
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
  color: rgba(57, 47, 47, 0.91);
  /*text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);*/
  text-shadow:rgba(0,0,0,0.4) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 10px;
}

hr{
  width: auto;
  margin: 0 20px 10px 0;

}


.loginform li{
  position:relative;
  padding:4px;
}

.form_hint_uname,.form_hint_password {
  font-size: 12px;
  color: rgb(98, 52, 38);
}


.loginform #username,.loginform #password {
  /*height:2.4em;
  width:18em;*/
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font: normal 14px/normal "Trebuchet MS", Helvetica, sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) ;
}


.loginform #username {
  background-image:url(images/user_1.png);
  padding-left: 2.7em;
  background-size: 2em 1.8em;
  background-repeat:no-repeat;
  background-position:6px;
}

.loginform #password {
  background-image:url(images/password.png);
  padding-left: 2.7em;
  background-size: 2em 1.8em;
  background-repeat:no-repeat;
  background-position:6px;
}

.loginform #username:focus, #password:focus{
  border-color: rgb(110, 75, 30);
  border-width:thin;
}

/*.loginform input:focus{
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}*/

.loginform li:nth-last-child(2){
  padding: 10px 20px;
  margin: 0 auto;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 18px;
  color: rgb(57, 55, 36)
}

.loginform li:last-child {
  padding-bottom: 40px;
  padding-left: 10px;
  padding-top: 10px;
}

.btn {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #000000;
   background: #808080;
   background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#808080));
   background: -webkit-linear-gradient(top, #f0f0f0, #808080);
   background: -moz-linear-gradient(top, #f0f0f0, #808080);
   background: -ms-linear-gradient(top, #f0f0f0, #808080);
   background: -o-linear-gradient(top, #f0f0f0, #808080);
   background-image: -ms-linear-gradient(top, #f0f0f0 0%, #808080 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #c4c4c4 0 1px 0;
   color: #5c2121;
   font-family: helvetica, serif;
   padding: 8.5px 5em;

   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}

.btn:hover {
   border: 1px solid #000000;
   text-shadow: #474747 0 1px 0;
   background: #808080;
   background: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#808080));
   background: -webkit-linear-gradient(top, #bfbfbf, #808080);
   background: -moz-linear-gradient(top, #bfbfbf, #808080);
   background: -ms-linear-gradient(top, #bfbfbf, #808080);
   background: -o-linear-gradient(top, #bfbfbf, #808080);
   background-image: -ms-linear-gradient(top, #bfbfbf 0%, #808080 100%);
   color: #fff;
   }
.btn:active {
   text-shadow: #4f4f4f 0 1px 0;
   border: 1px solid #000000;
   background: #f0f0f0;
   background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#808080));
   background: -webkit-linear-gradient(top, #5e5e5e, #f0f0f0);
   background: -moz-linear-gradient(top, #5e5e5e, #f0f0f0);
   background: -ms-linear-gradient(top, #5e5e5e, #f0f0f0);
   background: -o-linear-gradient(top, #5e5e5e, #f0f0f0);
   background-image: -ms-linear-gradient(top, #5e5e5e 0%, #f0f0f0 100%);
   color: #fff;
   }
